[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mypy = "*"
mysqlclient = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-nested-routers = "*"
python-dotenv = "*"
django-cors-headers = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.12"
